<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="icon" href="/img/favicon.ico" />
    <script type="text/javascript" src="/js/main.js"></script>
  </head>

  <body>
    <h1>hello <%= title %></h1>
    <p><%= detail %></p>
    <ul>
      <li><a href=https://private-state-token-demo.glitch.me>private-state-token-demo.glitch.me</a></li>
      <li><a href=https://private-state-token-issuer.glitch.me>private-state-token-issuer.glitch.me</a></li>
      <li><a href=https://private-state-token-redeemer.glitch.me>private-state-token-redeemer.glitch.me</a></li>
    </ul>
  </body>
</html>
